.jumbotron{
    background-color: rgb(153, 203, 238);
    padding-top: 3rem;
}

.project{
    background-color: rgb(153, 203, 238);
    padding-top: 3rem;
}
.footer{
    background-color: rgb(153, 203, 238);
    padding-top: 3rem;
}